* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#masterwrap {
  padding-right: 0;
  box-sizing: border-box;
  padding: 20px 40px 0;
  position: relative;
  width: 75%;
}

#picture {
    background-image: url("images/GWnSHe.jpg");
    height: 150px;
    width: 100%;

  }


#pageheader {
    padding: 10px;
    background: #ca9e7a;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ddb493;
    color: #fff;
  }

  #loginrow {
    text-align: center;

  }

  .outerbox {
    width: 100%;
    height:auto;
    background:rgb(159, 183, 184);

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow:wrap;
  }

  .innerbox {
    width: 20%;
    height:300px;
    background: rgb(185, 185, 226);
    margin: 20px;
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  @media screen and (max-width:1200px) {
    .innerbox{
      width:40%;
    }
  }

  @media screen and (max-width:600px) {
    .outerbox{
      width:90%;
    }
  }
  /* help with styling these
   https://www.youtube.com/watch?v=0SktamdLLAQ 
   
   
   WATCH THIS ONE BELOW!!!!!
   https://www.youtube.com/watch?v=vQAvjof1oe4 */