* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#masterwrap {
  padding-right: 0;
  box-sizing: border-box;
  padding: 20px 40px 0;
  position: relative;
  width: 75%;
}

#picture {
    background-image: url("images/GWnSHe.jpg");
    height: 150px;
    width: 100%;

  }


#pageheader {
    padding: 10px;
    background: #ca9e7a;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ddb493;
    color: #fff;
  }

  #loginrow {
    text-align: center;

  }

